body { 
    padding-top: 65px; 
    background-image: url("./image/background-g65394adf3_1920.png");
    background-repeat: repeat;
}
@media only screen and (min-width:768px) and (max-width:992px) {
    footer{
        position: fixed;
        bottom: 0;
    }
}