body { 
    padding-top: 65px; 
    background-image: url("./image/rondale151000340.jpg");
    background-repeat: repeat;
}

@media only screen and (min-width:992px) {
.card{
    display: inline-block;
    max-width: 49.5%;
    vertical-align: top;
}
.img-fluid{
    max-width: 60%;
}
}